{% load static %}
<li>
    <article class="post">
        <a href="">
            <img src="{% static 'blog/images/django.png' %}" alt="learning django">
            <div class="post__content">
                <h3>Learning Django</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, dolore dolores
                    ipsam itaque labore laudantium quo rem similique soluta voluptate?
                </p>
            </div>
        </a>
    </article>
</li>